.grid{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;

}
.info-filme{
padding: 1em;
} 
.div-btn-filme{
    display: flex;
}
.btn-filme{
    margin-right: 5px;
}

@media (max-width:600px) {
.grid{
grid-template-columns: 1fr;
}
}
@media (min-width:600px) {
.grid{
grid-template-columns: 1fr 1fr;
}
}
@media (min-width:768px) {
.grid{
grid-template-columns: 1fr 1fr 1fr;
}
}
@media (min-width:992px) {
.grid{
grid-template-columns: 1fr 1fr 1fr 1fr;
}
}
