body{
  margin: 0;
  font-family: Verdana, Tahoma, sans-serif;
  background: #f4f4f4;
}
a{
  text-decoration: none;
}
img{
  width: 50%;
}
footer{
  text-align: center;
}
/*Home logada INICIO*/
.sidebar{
  padding: 1em;
}
.lista{
  display: flex;
}
li{  /*talvez restringir para as lis das */
  padding: 1em;
}
/*Home logada FIM */
.login{
  width: 50%;
  margin: auto;
  padding: 1em;
  background: #f4f4f4;
  margin: 10px auto;
}
.brand-logo{
  margin-left: 5%;
}
 /*FIM TOPO*/

.apresentacao{
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  text-align: center;
  /*IMAGEM*/
  background-image: url("../images/pexels-photo-109669.jpeg");
  background-size: cover;
  background-position: center;
  height: 50vh;
}
#inscreva{
  background: darkgreen;
}
button{
  margin-bottom: 10px;
}
.elm-form{
  max-width: 960px;
  margin: auto;
  background: #fff;
  padding: 1em;
}
.form-margin{
  margin-top: 1em;
}
